/*GLOBAL*/

/*STYLING DER GÆLDER ALLE/* - MOBILE FIRST (det vil sige, at det der styles til mobilen (og tablet) også befinder sig her i.)
/*Altså styling fra 0-799px. Men stylen gælder også, for de andre, hvis den ikke bliver overrulet længere nede (fordi der ikke er skrevet @media her)*/

/*MENU*/

.logo {
    width: 50%;
    margin-left: 25%;

}

.nav {
    border-bottom: solid;
    border-color: antiquewhite;
    text-align: right;
    height: 50px;
    line-height: 70px;

}


.menu a {
    clear: right;
    text-decoration: none;
    color: gray;
    margin: 10px;
    line-height: 50px;
    position: relative;
}

label {
    margin-right: 2%;
    font-size: 25px;
    line-height: 0px;
    display: none;
    width: 26px;
    float: right;

}

#toggle {
    display: none;

}

/*FORSIDE*/

h1 {
    text-align: center;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 300%;
}


section,
img {
    width: 100%;
    text-align: center;
}

p {
    text-align: center;
}


h2 {
    font-size: 20px;
    text-align: center;
    font-family: inherit;
    font-family: monospace;
    color: black;

}


footer {
    width: 100%;
    border-top: solid;
    border-color: antiquewhite;
}

footer p {
    width: 100%;
}


.bestilling {
    width: 150px;
    position: relative;
}



/*STYLING DER KUN GÆLDER MOBIL OG IPAD - BRUGE MAX WIDTH*/

@media (max-width:799px) {

    /*MENU*/
    label {
        display: block;
        cursor: pointer;
        margin-top: 5%;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;

    }
    .menu a {
        display: block;
        margin: 0%;
        margin-left: 40%;
        border-bottom: 1px solid;
        border-color: lightsalmon;
        background-color: antiquewhite;

    }

    #toggle:checked + .menu {
        display: block;
    }
}


/*STYLING DER GÆLDER FRA MIN. 800px - LAPTOP. Udover de regler der er angivet i global, her skal der kun stå noget, hvis det skal overrules af hvad der står i global.*/

@media (min-width: 800px) {


    .tekst {
        width: 50%;
    }


    .container {
        display: flex;
        justify-content: flex-start;

    }

    h2 {
        text-align: center;
        font-size: 30px;
    }



    .program {
        border: solid;

        margin: 10%;
    }


    .priser {
        border: solid;
        margin: 10%;



    }

    .bestillingsbillede {
        width: 50%;
        margin-left: 25%;
    }

    .teksten {
        width: 50%;
        margin-left: 25%;
        text-align: left;
    }
}
